body {
  overflow: hidden;
  font-family: Helvetica, sans-serif;
  color:#000000;
}

.container {
  width: 170px;
  height: 170px;
  perspective: 170px;
}

.container:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}


.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  position:absolute;
  backface-visibility: hidden;
}



.back {
  background-color: #ffffff;
  transform: rotateY(180deg);
}


.container1 {
  width: 130px;
  height: 130px;
  perspective: 130px;
}

.container1:hover > .card1 {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card1 {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front1,
.back1 {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  position:absolute;
  backface-visibility: hidden;
}


.back1 {
  background-color: #ffffff;
  transform: rotateY(180deg);
}

.div-1{
width:100%;
background-color:#81b1ce;}

.div-2{
width:100%;
background-color:#ffffff;}